<template name="profile">
	<div class="container">
		<div class="row" id="champion-messages">
			{{#autoForm id="updateProfile" collection=Users doc=currentUser type="update"}}
			<div class="col-md-12">{{> alert}}</div>
			<div class="col-md-12">
				{{> afQuickField name="username"}}
				{{> afQuickField name="emails"}}
				{{> afQuickField name="profile.phones"}}
				{{> afQuickField name="profile.birthday"}}
				<button type="submit" class="btn btn-primary">Update</button>
			</div>
			{{/autoForm}}
		</div>
	</div>
</template>